#canvas3d{
	width: 60vw;
	height: 60vw;
	object-fit: contain;
	background-color: white;

	padding: 0;
}

:root{
	--panel-button-size: 10vw;
}

aside{
	max-height: 120vw;
	overflow-y: scroll;
}
body{
	padding-left: 0vw;
}





#drawing{
	position: absolute;
	width: 100vw;
	height: 180vw;
  margin-top: 0;
	margin-left: 2vw;
	display: none;
	background-color: #2e2e30;
	overflow-y: hidden;
	overflow-x: hidden;

}

#meta_AR{
	color: yellow;
	width: 18vw;
	height: 6vw;
	font-size: 1.8vw;
	text-align: left;
	font-family: 'Assistant', sans-serif;
	padding-left: 2vw;
	padding-bottom: 1vw;
	background-color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 5px rgb(5, 5, 5);
   
   
   
   }
   
   #console{
	   height: 6vw;
	   width: 18vw;
	   
	   font-size: 1.8vw;
	   text-align: left;
		
	 font-family: 'Assistant', sans-serif;
	   padding-left: 2vw;
	   padding-bottom: 1vw;
	   color: #ccfc7e;
	   text-shadow: 0px 0px 5px rgb(5, 5, 5);
	   background-color: rgba(0, 0, 0, 1);
   
   }
   #contrs{
	   
	   height: 100%;
	   padding-left: 100%;
	   
   
	   
   
   
	   overflow-y: scroll;
	   overflow-x: scroll;
   
   
   }
   
   #controls_3d{
	 background-color: grey;
	 width: 100%;
	 padding-bottom: 100%;
	   
	   overflow: hidden;
   
   
   }
   #controls_3d button:hover{
	   cursor: pointer;
   
   }
   
   .keyCont{
	   width: auto;
	   
	   
	   
   }
   
   
   
   .keyCont button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   border-style: none;
	   background-color: transparent;
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 1vw;
   
   }
   
   .motionPanel{
	   
	   
	   display: block;
	   
	   
   
   }
   .motionPanel button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   border-style: none;
	   background-color: rgba(10, 10, 10, 0.2);
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 1vw;
	   border-radius: 50%;
	   
   
   }
   .zaxis_cont {
	   width: var(--panel-button-size);
	   
	   
   
	   
   
   }
   .zaxis_cont button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   border-style: none;
	   background-color: transparent;
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 1vw;
   
   }
  
   .modo_cont button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   border-style: none;
	   background-color: transparent;
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 2vw;
   }
   .focus{
	   width: 34vw;
	   
	   
	   
   }
   .focus button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   background-color: #424240;
	   border-radius: 50vw;
	   border-style: none;
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 2vw;
   
   }
   .toEdit{
	   
	   
	   display: block;
	   
	   
   }
   .toEdit button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   border-style: none;
	   background-color: transparent;
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 2vw;
   }
   
   .material button{
	   width: var(--panel-button-size);
	   height: var(--panel-button-size);
	   border-style: none;
	   background-color: transparent;
	   background-size: contain;
	   background-repeat: no-repeat;
	   background-position: center;
	   
	   padding: 2vw;
   }
#colorPicker{
	width: 40vw;
	height: 60vw;
  margin-top: 5vw;
	position: absolute;
	margin-left: 10vw;
	display: none;
	background-color: grey;
	box-shadow: 0px 0px 200px rgba(5, 5, 5, 0.6);

}
#actColor{
	width: 6vw;
	height: 6vw;
	
	
}
#saturation{
	width: 40vw;
	height: 30vw;
	background-color: #ffffff;
}
.tonoCont{
	margin-top: 6vw;
}
#pickerConsole{
	color: #ffffff;
	font-size: 4.6vw;
	margin-left: 4vw;
	width: 70vw;
	font-family: 'Assistant', sans-serif;
	margin-top:100vw;
	position: absolute;
}
#ok_color{
	width: 10vw;
	height: 10vw;
	border-radius: 50px;
	border-style: none;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 6vw;
	right: 6vw;
	background-image: url('src/control/right.png');

}
#tono{
	width: 36vw;
	margin-left: 2vw;
	height: 2vw;
	margin-top: 0vw;
	position: absolute;
	background-color: red;
	border-radius: 50px;
	display: none;
}
#tonIn{
	width: 36vw;
	margin-left: 2vw;
	height: 2vw;
	position: absolute;
	margin-top: 0vw;
	-webkit-appearance: none;
	border-radius: 50px;
	background-color: transparent;

}
#tonIn::-webkit-slider-runnable-track{
	width: 40vw;
	height: 2vw;
	margin-top: 1vw;
	border-radius: 50px;
	background-color: transparent;
	background-image: linear-gradient(to right ,rgb(255, 0, 0),rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255),rgb(255, 0, 0) );
}
#tonIn::-webkit-slider-thumb{
	margin-top: -1vw;
	width: 4vw;
	height: 4vw;
	border-radius: 50px;
	background-color: white;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	-webkit-appearance: none;
}
#picked{
	width: 6vw;
	height: 6vw;
	margin-top: 4vw;
	margin-left: 18vw;
	background-color: #ffffff;
}