:root{
	--footer-font-size:1.2;
	--title-font-size:2vw;
	--main-max-height: 10%;
	--main-min-height: 30%;
}

body{
	width: 100vw;
	height: 100vw;
    background-color: black;
    display: block;
    
    color: azure;
    font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	overflow: scroll;
}

article{
    border-style: solid;
    border-color: white;
    border-width: 0.2vw;
    flex: 1;
    background-color: rgba(255,255,255,0.2);
  color: azure;
  padding-left: 1vw;
  padding-right: 1vw;
	
	
	overflow-y: scroll;
    
    
}
article h1{
  text-align: center;
  font-size: 1.8vw;
  
  
}
aside h2{
  text-align: left;
  
}

aside{
    flex:2;
    background-color: transparent;
    color: azure;
    overflow: hidden;
    border-width: 0.2vw;
    border-color: white;
    border-style: solid;
    padding: 1vw;
    
	
    
}

main{
  
  
	max-height: 50vw;

    display: flex;
    flex-direction: row;
    color: azure;

}


.terminal{
	position: absolute;
	bottom:2vw;
}

#terminal{
  margin-top: 2vw;
  background-color: rgba(255,255,255,0.2);
  
  
  padding: 0.2vw;
  width: 97vw;
  
  border-style:solid;
  border-color:transparent;
  
  
  font-family: "Courier New", Courier,monospace;
  color: white;
  overflow-y: scroll;
  font-size:1.2vw;
 
  
}
.logo{
	text-align: center;
	text-decoration: none;
}
.logo img{
	margin-top:4vw ; 
	width: 100vw; 
  height: 18vw;
  object-fit: contain;
}
#historic{
  height:6vw;
  width: 100%;
  background-color: black;
  color:white;
  
}
header{
  display:flex;
}
#menu{
  width: 4vw;
  height: 4vw;
  background-color: rgba(255,255,255,1);
  border-style: solid;
  border-color: transparent;
  position: absolute;
  margin-left: 94vw;
  text-shadow: 0 0 rgba(255,255,255,0.2);
  
  
}

#app_title{
  font-size: var(--title-font-size);
  width: 90vw;
  text-align: center;
}

#menuList{
  display: none;
  position: absolute;
  color:black;
  background-color: white;
  width: 50vw;
  height: auto;
  text-align: right;
  margin-left: 45.5vw;
  margin-top: 10vw;
  padding: 0;
  list-style: none;
  
  font-size: 7vw;
  
}
#menuList li{
  width: 50vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#menuList li:hover{
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.menuitem{
  text-decoration: none;
  color: black;
}
.menuitem >:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
    
}

.awesomelink{
  color: blueviolet;
  font-size: var(--footer-font-size);
}

footer{
	margin-top: 1.8vw;
	margin-bottom: 1.2vw;
	width: 100%;
	display:block;
	text-align: center;
	font-size: var(--footer-font-size);
	
  }


  ::-webkit-scrollbar{
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background: rgba(77, 129, 44, 0.12);
}


::-webkit-scrollbar-thumb {
    background:purple;
    border-radius: 80vw;
    margin: 0.2vw;
}


::-webkit-scrollbar-thumb:hover {
    background: #54b9c8;
    width: 1.2vw;
}

