:root{
	--footer-font-size:4vw;
  --title-font-size:7vw;
  --terminal-font-size: 4vw;
	--main-max-height: 10%;
  --main-min-height: 30%;
  --content-font-size:3.6vw;
  --terminal-height:26vw;
}

header h1{
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  
  font-size: 5vw;
}

body{
  
  background-color: black;
  display: flex;
  flex-direction: column;
  color: azure;
  font-family: "Courier New", Courier, monospace;
	font-weight: bold;
  overflow: auto;
  padding-left: 6vw;
  
  
  
}

.works_on_smartphone h1, p, h3{
  font-family: "Courier New", Courier, monospace;
	font-weight: bold;

}

#main_cont{
  background-color: red;
  width: 100vw;
  height: calc(100% - 26vw);
  overflow: scroll;
  

}

article{
    border-style: solid;
    border-color: white;
    border-width: 0.2vw;
    flex: 2;
    background-color: rgba(255,255,255,0.2);
  color: azure;
  padding-left: 1vw;
  padding-right: 1vw;
	
	font-size: var(--content-font-size);
  overflow-y: scroll;
  overflow-x: hidden;
    
    
}

article p{
  border-style: solid;
  border-width: 1px;
  border-color: white; 
  background-color: rgba(194, 3, 252,0.2);
  color: white;
  padding: 16px;
  border-radius: 12px;
}
article p:hover{
  cursor: pointer;
}
article h1{
  text-align: center;
  
  
  
}


aside h2{
  text-align: left;
  
}

aside{
    flex:1;
    background-color: transparent;
    color: azure;
    overflow: hidden;
    border-width: 0.2vw;
    border-color: white;
    border-style: solid;
    padding: 1vw;
    font-size: var(--content-font-size);
    
	
    
}

aside p{
  background-color: transparent;
  color: white;
}


main{
  
  
	

    display: flex;
    flex-direction: row;
    color: azure;

}


.terminal{
  
  width: 100vw;
 
  height: var(--terminal-height);
  padding-bottom: 8vw;
  padding-left: 0vw;
  background-color: black;
}

#historic{
  height:18vw;
  width: 96vw;
  background-color: black;
  color:white;
  font-size: 3.8vw;
  
}

#terminal{
  margin-top: 2vw;
  background-color: rgba(255,255,255,0.2);
  
  
  padding: 0.2vw;
  width: 96vw;
  
  border-style:solid;
  border-color:transparent;
  
  
  font-family: "Courier New", Courier,monospace;
  color: white;
  overflow-y: scroll;
  font-size:var(--terminal-font-size);
 
  
}
.logo_engine{
	text-align: center;
	text-decoration: none;
}
.logo_engine img{
	margin-top:4vw ; 
	width: 100vw; 
  height: 20vw;
  object-fit: contain;
}

header{
  display:flex;
}
#menu{
  width: 10vw;
  height: 10vw;
  background-color: rgba(255,255,255,1);
  border-style: solid;
  border-color: transparent;
  position: absolute;
  margin-left: 88vw;
  margin-top: 2vw;
  font-size: 6vw;
  text-shadow: 0 0 rgba(255,255,255,0.2);
  
  
}

#app_title{
  font-size: var(--title-font-size);
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: center;
  margin-left: 4vw;
  font-family: "Courier New", Courier, monospace;
}

#menuList{
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  background: #cacaca;
  margin: 0 0 0 0;
  padding: 0;
  padding-left: 0;
  
  
}
#menuList li{
  display: block;
  flex: 1 auto; /* Default */
  list-style-type: none;
  background: #fafafa;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
  font-family: "Courier New", Courier, monospace;
  font-size: 4vw;
  height: auto;
  
}

#menuList li:hover{
  background-color: rgba(194, 3, 252,0.4);
  color: white;
  cursor: pointer;
  color: #ffffff;
  padding-top: 2.9vw;
  padding-bottom: 2.9vw;
  font-size: 4.1vw;
}
#menuList li:hover{
  background-color: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
}
.menuitem{
  text-decoration: none;
  color: black;
}
.menuitem >:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
    
}

.awesomelink{
  color: blueviolet;
  font-size: var(--footer-font-size);
  padding-top: 4vw;
  padding-bottom:12vw;
}

footer{
	margin-top: 1.8vw;
	width: 100%;
	display:block;
	text-align: center;
	font-size: var(--footer-font-size);
	
}


  ::-webkit-scrollbar{
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background: rgba(77, 129, 44, 0.12);
}


::-webkit-scrollbar-thumb {
    background:purple;
    border-radius: 80vw;
    margin: 0.2vw;
}


::-webkit-scrollbar-thumb:hover {
    background: #54b9c8;
    width: 1.2vw;
}

