:root{
	--footer-font-size:3vw;
  --title-font-size:6vw;
  --terminal-font-size: 3.4vw;
	--main-max-height: 10%;
  --main-min-height: 30%;
  --content-font-size:3.6vw;
  --terminal-height:26vw;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  color: azure;
  font-family: "Courier New", Courier, monospace;
	font-weight: bold;
  overflow: auto;
  
  
  
}

#main_cont{
  background-color: red;
  width: 100vw;
  height: calc(100% - 26vw);
  overflow: scroll;
  

}

article{
    border-style: solid;
    border-color: white;
    border-width: 0.2vw;
    flex: 1;
    background-color: rgba(255,255,255,0.2);
  color: azure;
  padding-left: 1vw;
  padding-right: 1vw;
	
	font-size: var(--content-font-size);
  overflow-y: scroll;
  overflow-x: hidden;
    
    
}
article h1{
  text-align: center;
  
  
  
}
aside h2{
  text-align: left;
  
}

aside{
    flex:2;
    background-color: transparent;
    color: azure;
    overflow: hidden;
    border-width: 0.2vw;
    border-color: white;
    border-style: solid;
    padding: 1vw;
    font-size: var(--content-font-size);
    
	
    
}

main{
  
  
	max-height: 80vw;

    display: flex;
    flex-direction: row;
    color: azure;

}


.terminal{
  position: absolute;
  width: 100vw;
  bottom:0vw;
  height: var(--terminal-height);
  padding-bottom: 2vw;
  padding-left: 2vw;
  background-color: black;
}

#historic{
  height:18vw;
  width: 96vw;
  background-color: black;
  color:white;
  font-size: 3vw;
  
}

#terminal{
  margin-top: 2vw;
  background-color: rgba(255,255,255,0.2);
  
  
  padding: 0.2vw;
  width: 96vw;
  
  border-style:solid;
  border-color:transparent;
  
  
  font-family: "Courier New", Courier,monospace;
  color: white;
  overflow-y: scroll;
  font-size:var(--terminal-font-size);
 
  
}
.logo{
	text-align: center;
	text-decoration: none;
}
.logo img{
	margin-top:4vw ; 
	width: 100vw; 
  height: 20vw;
  object-fit: contain;
}

header{
  display:flex;
}
#menu{
  width: 10vw;
  height: 10vw;
  background-color: rgba(255,255,255,1);
  border-style: solid;
  border-color: transparent;
  position: absolute;
  margin-left: 88vw;
  margin-top: 2vw;
  font-size: 6vw;
  text-shadow: 0 0 rgba(255,255,255,0.2);
  
  
}

#app_title{
  font-size: var(--title-font-size);
  width: 90vw;
  text-align: center;
}

#menuList{
  display: none;
  position: absolute;
  color:black;
  background-color: white;
  width: 50vw;
  height: auto;
  text-align: right;
  margin-left: 45.5vw;
  margin-top: 10vw;
  padding: 0;
  list-style: none;
  
  font-size: 7vw;
  
}
#menuList li{
  width: 50vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#menuList li:hover{
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.menuitem{
  text-decoration: none;
  color: black;
}
.menuitem >:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
    
}

.awesomelink{
  color: blueviolet;
  font-size: var(--footer-font-size);
  padding-top: 4vw;
  padding-bottom:12vw;
}

footer{
	margin-top: 1.8vw;
	width: 100%;
	display:block;
	text-align: center;
	font-size: var(--footer-font-size);
	
}


  ::-webkit-scrollbar{
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background: rgba(77, 129, 44, 0.12);
}


::-webkit-scrollbar-thumb {
    background:purple;
    border-radius: 80vw;
    margin: 0.2vw;
}


::-webkit-scrollbar-thumb:hover {
    background: #54b9c8;
    width: 1.2vw;
}

